#include "winres.h"
#include "resource.h"

DIALOG_MAIN DIALOGEX 0, 0, 379, 296
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL "", LIST_PROCESSES, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_OWNERDRAWFIXED | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP, 7, 90, 355, 147
    PUSHBUTTON "Attach", BUTTON_INJECT, 7, 246, 356, 21
    LTEXT "Select the Flyff process to attach the bot.", IDC_STATIC, 20, 8, 340, 34
    PUSHBUTTON "Bypass Client Limit Restriction", BUTTON_BYPASS_CLIENT_LIMIT, 105, 54, 160, 21
END
